<header>
  <ul>
      <li><a href="/">Home</a></li>

      <li><a href="/my-orders">My orders</a></li>

      <li><a href="/order-now">Order now</a></li>
      
      <li><a href="/free-form">Free form orders</a></li>
   
  </ul>
</header>