<!DOCKTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Inhus</title>
</head>

        

    <body>
        {{>header}}

        <div style="height: 500" "margine: auto">

        <h1>Order Now</h1>
        <p>Ka daryti, kad būtų gerai</p>
        </div>


        {{>footer}}
    
    </body>

 

</html>
